<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8" style="text-align: center;">
    <h1>公测的时候亡灵意志是20秒</h1>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>
      这公测的时候亡灵意志是20秒个话题的公测的时候亡灵意志是20秒题的描述描述
      这公测的时候亡灵意志是20秒个话题的描述描述，这里公测的时候亡灵意志是20秒话题的描述描述
      ，这里是这公测的时候亡灵意志是20秒的描述描述

    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-6 forceZeroPadding">
    <div class="col-sm-7 col-sm-offset-5 forceZeroPadding ">
      <progressbar class="progress-striped active  combatBar" type="default"
                   value="100" style="border-radius: 3px 0 0 3px !important;"> 已有500人支持
      </progressbar>
    </div>
  </div>
  <div class="col-md-6 forceZeroPadding">
    <div class="col-sm-5 forceZeroPadding ">
      <progressbar class="progress-striped  active combatBar reverse" type="danger"
                   value="100" style="border-radius:0 3px 3px 0 !important;">已有300人支持
      </progressbar>
    </div>
  </div>
  <div class="col-md-6" style="border-right: dotted 1px;">
    <h2>公测的时候亡灵意志当然是20秒，BLABLABLA</h2>

    <div ng-repeat="comment in positive" class="well">
      {{comment.body}}
    </div>

  </div>
  <div class="col-md-6" style="border-left: dotted 1px;">
    <h2>亡灵意志只有6秒，板上钉钉的！BLABLABLA</h2>

    <div ng-repeat="comment in negtive" class="well">
      {{comment.body}}
    </div>
  </div>
</div>
